[submodule ".config/.tmux/plugins/tmux-window-name"]
	path = .config/.tmux/plugins/tmux-window-name
	url = https://github.com/ofirgall/tmux-window-name
[submodule ".config/.tmux/plugins/tpm"]
	path = .config/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
